/* General */
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  width: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* General Buttons */
.buy,
.learn {
  text-align: center;
  padding: 15px 30px;
  border: 2px solid #340034;
  background-color: white;
  color: #340034;
}

.buy:hover,
.learn:hover {
  color: white;
  background-color: #340034;
}

.shopNow,
.submit {
  border: none;
  background-color: white;
  padding: 20px 40px;
  color: #340034;
}

.shopNow:hover,
.submit:hover {
  background-color: #eeeeee;
}

a {
  text-decoration: none;
}

a:visited {
  color: #340034;
}

/* Nav bar */

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.titleContainer {
  align-self: center;
  padding-left: 150px;
}

.navContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

/* Handmade Ceramics Section */

.handmade {
  padding-top: 38vh;
  padding-bottom: 38vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: pink;
  width: 100%;
  color: white;
}

h1,
h6 {
  padding-bottom: 70px;
}

p {
  padding-bottom: 30px;
}

/* Best sellers section */

.bestsellers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
}
.forSale {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.item {
  text-align: center;
  margin: 1vw;
  width: 25%;
}

.saleColourSlab {
  width: 300px;
  height: 300px;
  background-color: black;
}

.buyNow {
  display: flex;
  justify-content: center;
}

/* Home Decor Section */

.homeDecor {
  padding-top: 38vh;
  padding-bottom: 38vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: grey;
  width: 100%;
  color: white;
}

/* Learn More */

.learnMore {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 150px;
  padding-bottom: 150px;
  width: 100%;
}

.colourSlab {
  width: 500px;
  height: 250px;
  background-color: black;
}

.about {
  color: #340034;
}

.sustain {
  color: #340034;
}

/* Newsetter Section */

.newsLetter {
  padding-top: 38vh;
  padding-bottom: 38vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: grey;
  width: 100%;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email {
  margin-top: 75px;
  margin-bottom: 25px;
  padding: 10px 120px 10px 20px;
  opacity: 0.5;
}

.submit {
  border: none;
  background-color: white;
}

/* Instagram Section */

.insta {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 150px;
}

.photoGallery {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.photo {
  text-align: center;
  width: 350px;
  height: 350px;
  background-color: black;
}

.minaAt {
  text-decoration: underline;
}

/* Footer Section */

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #eeeeee;
  padding-top: 125px;
}

.footerMina {
  padding-left: 150px;
  padding-bottom: 50px;
}

.facebook {
  padding-left: 45px;
  padding-right: 45px;
}

.socials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 150px;
}

.footerNav {
  text-decoration: underline;
  padding-right: 150px;
}

.credit {
  text-decoration: none;
}
