/* General */
* {
  padding: 0;
  margin: 0;
  border: 0;
  letter-spacing: 1.5px;
}

body {
  font-family: "Roboto", sans-serif;
  width: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 100px;
}

.paragraph {
  margin-top: 25px;
  margin-bottom: 25px;
}

/* General Buttons */
.buy,
.learn {
  text-align: center;
  padding: 15px 30px;
  border: 2px solid #340034;
  background-color: white;
  color: #340034;
}

.buy:hover,
.learn:hover {
  color: white;
  background-color: #340034;
}

.shopNow,
.submit {
  border: none;
  background-color: white;
  padding: 20px 40px;
  color: #340034;
}

.shopNow:hover,
.submit:hover {
  background-color: #eeeeee;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: #340034;
}

/* Nav bar */

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.titleContainer {
  align-self: center;
  padding-left: 150px;
  padding-top: 77px;
  color: black;
  display: inline-block;
}

ul {
  margin-right: 150px;
  margin-top: 75px;
}

nav li {
  display: inline-block;
  padding: 0 20px;
  color: black;
}

/* Handmade Ceramics Section */

.handmade {
  padding-top: 38vh;
  padding-bottom: 38vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: pink;
  width: 100%;
  color: white;
}

h1 {
  font-size: 95px;
}

h6 {
  font-size: 24px;
}

h3 {
  font-size: 44px;
}

h1,
h6 {
  padding-bottom: 70px;
}

h5 {
  font-size: 28px;
}

p {
  padding-bottom: 30px;
  font-size: 24px;
}

/* Best sellers section */

.bestsellers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
}
.forSale {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.item {
  text-align: center;
  margin: 1vw;
  width: 25%;
}

.saleColourSlab {
  width: 300px;
  height: 300px;
  background-color: black;
}

.buyNow {
  display: flex;
  justify-content: center;
}

/* Home Decor Section */

.homeDecor {
  padding-top: 38vh;
  padding-bottom: 38vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: grey;
  width: 100%;
  color: white;
}

/* Learn More */

.learnMore {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 150px;
  padding-bottom: 150px;
  width: 100%;
}

.colourSlab {
  width: 500px;
  height: 250px;
  background-color: black;
  margin-bottom: 25px;
}

.about {
  color: #340034;
}

.sustain {
  color: #340034;
}

/* Newsetter Section */

.newsLetter {
  padding-top: 38vh;
  padding-bottom: 38vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: grey;
  width: 100%;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email {
  margin-top: 75px;
  margin-bottom: 25px;
  padding: 10px 120px 10px 20px;
  opacity: 0.5;
}

.submit {
  border: none;
  background-color: white;
}

/* Instagram Section */

.insta {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 150px;
}

.photoGallery {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.photo {
  text-align: center;
  width: 350px;
  height: 350px;
  background-color: black;
}

.midPhoto {
  margin: 0 30px;
}

.minaAt {
  text-decoration: underline;
  padding-top: 50px;
  font-size: 26px;
}

/* Footer Section */

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #eeeeee;
  padding-top: 125px;
  padding-bottom: 75px;
}

.footerMina {
  padding-left: 150px;
  padding-bottom: 50px;
}

.facebook {
  padding-left: 45px;
  padding-right: 45px;
}

.socials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 150px;
}

.footerNav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 20px;
}

.footerLinks {
  list-style: outside none none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.credit {
  text-decoration: none;
}
